@model WaxWorx.UI.ViewModels.AlbumViewModel

@{
    ViewBag.Title = "Add Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-dark text-light py-4">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <div class="d-flex align-items-center mb-4">
                <div class="summary-icon text-accent-orange me-3">
                    <i class="bi bi-disc-fill fs-1"></i>
                </div>
                <h2 class="text-info mb-4">Add Album</h2>
            </div>     
        </div>
        <div>
            <a class="btn btn-custom-view mb-3" href="javascript:history.back()">← Back</a>
        </div>
    </div>

    @using (Html.BeginForm("AddAlbum", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label text-light">Title</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Album Title" })
            </div>
            <div class="col-md-6">
                <label class="form-label text-light">Artist</label>
                @Html.TextBoxFor(m => m.Artist, new { @class = "form-control", placeholder = "Artist Name" })
            </div>
        </div>

        @*         <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label text-light">Year</label>
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control", type = "number", min = "1900", max = "2099" })
            </div>
            <div class="col-md-4">
                <label class="form-label text-light">Genre</label>
                @Html.DropDownListFor(m => m.Genre, Model.GenreOptions, "Select Genre", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="form-label text-light">Condition</label>
                @Html.DropDownListFor(m => m.Condition, Model.ConditionOptions, "Select Condition", new { @class = "form-control" })
            </div>
        </div> *@

        <div class="row mb-3">
            <label class="form-label text-light">Album Cover</label>
            <input type="file" name="CoverImage" accept="image/*" class="form-control" />
        </div>

        <!-- Update Button -->
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-custom-edit">Add</button>
            </div>
        </div>
    }
</div>