@model WaxWorx.UI.ViewModels.ArtistViewModel

@{
    ViewData["Title"] = "Add Artist";
}

<div class="container bg-dark text-light py-4">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <div class="d-flex align-items-center mb-4">
                <div class="summary-icon text-accent-blue me-3">
                    <i class="bi bi-person-fill fs-1"></i>
                </div>
                <h2 class="text-info mb-0">Add Artist</h2>
            </div>
        </div>
        <div>
            <a class="btn btn-custom-view mb-3" href="javascript:history.back()">← Back</a>
        </div>
    </div>

    <form asp-action="AddArtist" method="post">
        <!-- Hidden AUDIT Fields for Artist -->
        @*         <input type="hidden" name="Artist.CreatedBy" value="@Model.CreatedBy" />
        <input type="hidden" name="Artist.CreatedDate" value="@Model.CreatedDate" />
        <input type="hidden" name="Artist.ModifiedBy" value="@Model.ModifiedBy" />
        <input type="hidden" name="Artist.ModifiedDate" value="@Model.ModifiedDate" /> *@

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label text-light" for="Name">Artist Name</label>
                    <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required />
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Update Button -->
            <div class="col-md-3">
                <button type="submit" class="btn btn-custom-edit">Add</button>
            </div>
        </div>
    </form>
</div>