@model WaxWorx.UI.ViewModels.GenreViewModel

@{
    ViewData["Title"] = "Add Genre";
}

<div class="container bg-dark text-light py-4">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <div class="d-flex align-items-center mb-4">
                <div class="summary-icon text-accent-red me-3">
                    <i class="bi bi-music-note-list fs-1"></i>
                </div>
                <h2 class="text-info mb-0">Add Genre</h2>
            </div>
        </div>
        <div>
            <a class="btn btn-custom-view mb-3" asp-action="Index" asp-controller="Home">← Back</a>
        </div>
    </div>

    <form asp-action="AddGenre" method="post">
        <!-- Hidden AUDIT Fields for Genre -->
@*         <input type="hidden" name="Genre.CreatedBy" value="@Model.CreatedBy" />
        <input type="hidden" name="Genre.CreatedDate" value="@Model.CreatedDate" />
        <input type="hidden" name="Genre.ModifiedBy" value="@Model.ModifiedBy" />
        <input type="hidden" name="Genre.ModifiedDate" value="@Model.ModifiedDate" /> *@

        <div class="form-group">
            <label for="Name">Genre Name</label>
            <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required />
        </div>

        <button type="submit" class="btn btn-custom-add">Add Genre</button>
    </form>
</div>